@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");

body {
  margin: 0;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background-color: #141414;

}

*, *:after, *:before {
  box-sizing: border-box;
}

img {
  width: 100%;
}

button {
  font-family: inherit;
  font-size: inherit;
}